
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .background img{
    margin:0 10% 0 10% ;
    opacity: 6;
  }
  .exhaustfanintro{
    height: 250px;
 
    text-align: center;
    
  }
  
h1{
    font-size: 62px;
}
 p{
  padding-top: 8px;
    font-size: 20px;
    line-height: 24px;
}
.main-container{
display: flex;
justify-content: space-evenly;
width: 100%;

margin-top: 30px;
margin-bottom: 30px;
}

.box{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.box img{
  width: 400px;
  height: 400px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.box .overlay{
  height: 0;
  width: 100%;
  background: linear-gradient(transparent,#00555a );
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 80px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.overlay h3{
  font-weight: 500;
  margin-bottom: 5px;
margin-top: 80%;
font-size: 30px;
letter-spacing:2px;
color: #fff;
}
.overlay p{
  font-size: 23px;
}
.overlay a{
  margin-top: 10px;
  color: #262626;
  text-decoration: none;
  font-size: 20px;
  background:teal;
  border-radius: 50px;
  
  text-align: center;
  padding: 5px 15px;
}
.box:hover img{
  transform: scale(1.2);
}
.box:hover .overlay{
  height: 100%;
}
@media (max-width: 767px) {
  .main-container {
    flex-direction: column; /* Stack boxes vertically */
    align-items: center; /* Center align boxes */
    margin-top: 70px;
  }

  .box {
    margin-bottom: 50px; /* Add spacing between boxes */
  }

  .overlay h3 {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .overlay a {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

/* Media Query for Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    flex-wrap: wrap; /* Allow boxes to wrap */
  }
}